:root {
    --fuente-titulos: 'Poppins', sans-serif;
    --fuente-cuerpo: 'Open Sans', sans-serif;
    --pink: hsl(322, 100%, 66%);
    --pink-active: hsl(322, 100%, 77%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --white: hsl(0, 0%, 100%);
}
* {
    box-sizing: border-box;
    margin: 0 auto;
}
body {

}
h1,
h2 {
    font-family: var(--fuente-titulos);
    color: var(--very-dark-cyan);
}
h1 {
    margin-bottom: 20px;
}
.parrafo {
    font-family: var(--fuente-cuerpo);
    color: var(--grayish-blue);
    line-height: 1.5em;
    font-size: .9em;
}

/* ----------    CONTENEDOR-HERO    ---------- */

.contenedor-hero {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 2fr 6fr;
    grid-template-areas: "logo boton"
                        "claim hero";
    width: 80%;
    margin-top: 8vh;
    margin-bottom: 8vh;
    background-image: url("../images/bg-hero-desktop.svg");
    background-color: var(--very-pale-cyan);
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor-hero__logo {
    grid-area: logo;
    height: 25px;
    margin: 10px 0px 10px 50px;
    align-self: center;
    justify-self: left;
}
.hero__img {
    grid-area: hero;
    width: 80%;
    margin-right: 50px;
    justify-self: self-end;
}
.contenedor-hero__claim {
    grid-area: claim;
    padding: 50px;
    padding-right: 0;
}
.hero-parrafo {
    color: var(--very-dark-cyan);
    margin-bottom: 15px;
}

/* -------    CONTENEDOR-PRINCIPAL    ------- */

.contenedor-principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 70px;
    width: 70%;
    margin-bottom: 15vh;
}
.seccion {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: var(--white);
    border-radius: 12px;
    filter: drop-shadow(0px 0px 4px var(--grayish-blue));
}

.ilustracion {
    width: 100%;
    padding: 30px;
}
.seccion_header {
    margin-bottom: 20px;
}

/* -------    PIE    ------- */

.pie {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
}
.pie__cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(to bottom, var(--white), var(--white) 50%, var(--very-dark-cyan) 50%);
}
.pie__cta__claim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--white);
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.pie__menu {
    background-color: var(--very-dark-cyan);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    font-family: var(--fuente-cuerpo);
    font-size: .7em;
    color: var(--very-pale-cyan);
}
.pie__menu_logo {
    height: 20px;
    filter:invert(100%) saturate(0) contrast(200%);
    grid-column: 1 / span 3;
    align-self: center;
    margin-left: 0;
    padding-left: 80px;
    margin-bottom: 15px;
}
.pie__menu__contacto {
    padding-left: 80px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 15px auto;
    grid-gap: 15px;
}
.pie__menu__contacto p {
    margin-left: 0;
    padding-left: 10px;
    margin-top: 5px;
}
.pie__menu__contacto__ico {
    width: 100%;
    margin-top: 5px;
}
.pie__menu__main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
.pie__menu_main-izq,
.pie__menu_main-dch {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.pie__menu_enlace {
    display: block;
    margin-left: 20px;
    text-decoration: none;
    color: var(--very-pale-cyan);
    line-height: 2.5em;
}
.pie__menu_enlace:hover,
.pie__menu_enlace:active {
    text-decoration: underline;
    cursor: pointer;
}
.pie__menu__social {
    font-size: 1.7em;
    margin-left: 70px;
}
.pie__menu__social-ico {
    margin-right: 15px;
}
.pie__menu__social-ico:hover,
.pie__menu__social-ico:active {
    cursor: pointer;
    color: var(--pink);
}
.copyright {
    grid-column: 3 / 4;
    margin-left: 70px;
    margin-right: 10px;
}

/* -------------   BOTONES    ----------- */

.boton {
    border-radius: 50px;
    border: 0;
    font-family: var(--fuente-cuerpo);
    font-weight: bold;
    color: var(--white);
    filter: drop-shadow(0px 5px 4px var(--grayish-blue));
}
.boton:hover,
.boton:active {
    cursor: pointer;
}
.b-claim {
    grid-area: boton;
    padding: 20px 60px;
    border-radius: 50px;
    border: 0;
    background-color: var(--pink);
    margin-bottom: 40px;
    margin-top: 30px;
}
.b-claim:active {
    background-color: var(--pink-active);
}
.b-try {
    background-color: var(--white);
    color: var(--very-dark-cyan);
    padding: 15px 50px;
    align-self: center;
    margin-right: 50px;
}
.b-try:active {
    color: var(--grayish-blue);
}

/* -------------   ATRIBUCIÓN    ----------- */

.attribution { 
    font-family: var(--fuente-cuerpo);
    font-size: 11px; 
    text-align: center;
    margin-bottom: 20px; 
    margin-top: 20px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 800px) {

    h1,
    .parrafo {
        text-align: center;
    }

    /* ----------    CONTENEDOR-HERO    ---------- */

    .contenedor-hero {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 4fr 2fr;
        grid-template-areas: "logo boton"
                            "claim claim" 
                            "hero hero";
        width: 100%;
        margin-top: 0;
        background-image: url("../images/bg-hero-mobile.svg");
        background-color: var(--very-pale-cyan);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .contenedor-hero__claim {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 25px;
        padding-right: 25px; 
    }
    .contenedor-hero__logo {
        height: 25px;
        margin: 10px 0px 10px 50px;
        align-self: center;
        justify-self: left;
    }

    /* ----------    CONTENEDOR-HERO    ---------- */

    .contenedor-principal {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 40px;
        width: 90%;
        /* margin-bottom: 15vh; */
    }
    .s-users,
    .s-grow {
        flex-direction: column-reverse;
    }
    .s-flowing {
        flex-direction: column;
    }
    .seccion__texto {
        padding-left: 25px;
        padding-right: 25px;
    }
    .seccion__texto .parrafo {
        margin-bottom: 25px;
    }
    .seccion_header {
        text-align: center;
    }

    /* -------------   BOTONES    ----------- */

    .b-claim {
        justify-self: center;
    }
    
}